body {
  background-color: #fbf0e8;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
}

h2,
h3 {
  color: #588157;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-content {
  flex: 1;
  padding: 50px 20px;
  max-width: 1000px;
  margin: 0 auto;
}


.navbar {
  background-color: #A3B18A;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  display: flex;
}

.navbar .navbar-brand {
  color: #e5c77d;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  padding: 10px;
}

.navbar .nav-link {
  color: #f18668;
  background-color: #A3B18A;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .nav-link:hover {
  background-color: #A3B18A;
  color: #E07A5F;
  text-decoration: none;
}

.contact-container {
  margin-top: 40px;
}

.contact-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.contact-info,
.contact-form {
  flex: 1 1 300px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: left;
}

.contact-form-wrapper {
  width: 100%;
}


.contact-form {
  background-color: #fef9f7;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 0 auto;
}


.form-label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #588157;
}

.custom-submit-btn {
  background-color: #588157;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-submit-btn:hover {
  background-color: #3a5a40;
  color: #fff;
}

.contact-form-button {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.alert {
  border-radius: 10px;
  font-size: 16px;
  padding: 12px;
}


.contact-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #588157;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  font-family: inherit;
}



.contact-form button:hover {
  background-color: #3a5a40;
}



@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .contact-columns {
    flex-direction: column;
  }
}

#map {
  height: 300px;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    text-align: center;
  }
}