body {
  background-color: #fbf0e8;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
}

.navbar {
  background-color: #A3B18A;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
}

h2 {
  color: #9A8B7A;
  font-weight: bold;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.navbar .navbar-brand {
  color: #e5c77d;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  padding: 10px;
}

.navbar .nav-link {
  color: #f18668;
  background-color: #A3B18A;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .nav-link.active {
  background-color: #A3B18A !important;
  color: #f18668 !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.navbar .nav-link:hover {
  background-color: #A3B18A;
  color: #E07A5F;
  text-decoration: none;
}

p {
  text-indent: 40px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

#map {
  height: 180px;
  border-radius: 15px;
}

#chisiamo #territorio {
  scroll-margin-top: 60px;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #A3B18A;
  color: white;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.back-to-top:hover {
  background-color: #7f9665;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 1rem;
    text-align: center;
  }
}